# Language
AGENT_LANGUAGE=en

# Google Cloud
GOOGLE_CLOUD_PROJECT=YOUR-PROJECT-ID
GOOGLE_CLOUD_LOCATION=europe-central2
LOGS_BUCKET_NAME=your-bucket
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true

# LED Matrix API
LED_MATRIX_API_HOST=your-host
LED_MATRIX_API_PORT=8000
LED_MATRIX_API_SECRET=your-secret-key